@media (max-width: 700px) {

}


html {
    height: 100%;
    width: 100%;
  }
  
  body{
    background-color: white;
    width: fit-content;
    margin: 0;
  }
  
  .black{
    background-color: black;
    height: 100px;
    width: 100px;
  }
  
  .white{
    background-color: white;
    height: 100px;
    width: 100px;
  }
  
  table{
    border: 1px solid black;
  }

  #toggleButton {
    padding: 10px 20px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    }